.mob-title{
  color: #1890ff;
  background: #fff;
  font-size: 14px;
  padding: 10px 20px;
  box-sizing: border-box;
}
.mob-box{
  padding: 20px;
}
.label{
  margin-right: 20px;
}
.search-box, .table-box{
  margin-top: 20px;
  padding: 20px;
}
.search-box .ant-input {
  width: 200px;
  margin: 0 8px 8px 0;
}
.search-box .ant-btn, .table-module{
  margin: 0 8px 8px 0;
}
.table-model{
  width: 100%;  
  background: #fff;
}
.table-model td{
  padding: 10px 16px;
  border: 1px solid #1890ff;
}
.fixed-footer{
  position: fixed;
  width: 100%;
  height: 48px;
  line-height: 48px;
  color: #fff;
  text-align: center;
  bottom: 0;
  left: 0;
  background: #1890ff;
  cursor: pointer;
}